language: node_js
node_js:
- '8.11.4'
install:
- yarn install
- yarn build
deploy:
  provider: heroku
  api_key:
    secure: rggKnwAxvC3FbncKovLnt3DpZIHTi0nGyrsLgqSJhMnWjvLSwzz1cKOL8u82ZygrJzV8lWtvUyj5xEXzi6tRMaBOPLnG6WV/e0s8XALa44OlSbBi4b/gWtc105nWzv4ETH1GIGvfR2VncN84IX/Zn2+hkXlZZFQM/4pe3lEO+jpeCk+5aSr2lJD3fKqbI5DYS7jHVjj+BUP7vqz0aq/OYzF20oaQQc/hsH9F8f7hJSkbpJmrWwQ3uVzHK8qsTE2IFqtEUUFSUIuRGZIRm75J5bsh5LIdZX9BtuLxtypZm0gmlgZOavR1z6blEBxYj/arAc057eAa0VqoQ/EPUkwLnrRdTCcofQXcHc5cYAP3mlWNEn4Gz4uP35QsbH9mgRv5rc0bn4jSRHN11o2wd910vJx0RYlxMTdbo1M5V/DpSG2kWGodteSeWWNB7bWVzDuCNdXaNtt7JwBqtgtoLl2ONR/Em0yZ/Utv2lHqSkr8Um/D9GeSrwL6T10TuqFGQenz1TTegkIVLs2dylghmmxfod5/S9rAm47HwfAyrIhQuXgXdf+zLryrMEx5FYxzSsE746qj3dqcyaaX+iT+d48P48lDlPOwMhAClpvaTo0stAAopS+uzbIso1pEAJwsq5+9g1UXQfZMosxz2ngVrT69EXuaoJorzaWI3S1/zv7hq7w=
  app: expts-grph-react-travis
